.dc-picture {
  width: 40%;
  height: 100%;
  justify-content: right;
  float: right;
}

.about-text{
  font-family: courier;
  color: #164a41;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold
}

.tech-stack-text {
  font-family: courier;
  color: #164a41;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold
}

.stack-pictures{
  display:flex;
  
  margin-left: 25%;
  margin-right: 25%;
 
}

.node-picture {
  margin: 8px;
}