.coffee-picture {
  display: flex;
  height: 20%;
  width: 20%;
  flex-wrap: wrap;
  float: inline-start;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  border-radius: 90%;
}

p {
  font-family: 'Permanent Marker', cursive;
  color: #164a41;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
